/* 宫格长宽--pItemsLiW, --pItemsLiH，图片长宽--pItemsImgW, --pItemsImgH */
* {
  --mainColor: var(--rFontColor);
  --width: 60vw;
  --height: 58vw;
  --pItemsLiW: 18vw;
  --pItemsLiH: 18vw;
  --pItemsImgW: 17vw;
  --pItemsImgH: 12vw;
  --minW: 600px;
  --minH: 580px; 
  --minPItemLi: 180px;
  --minPItemImgW: 170px;
  --minPItemsImgH: 120PX;
}
#itemShow2 {
  margin-top: 50px;
  width: 100%;
  min-width: 1000px;
  /* background-color: olive; */
  padding-bottom: 20px;
  /* height: 100%; */
}
#pItems {
  margin: 0 auto;
  width: var(--width);
  min-width: var(--minW);
  height: var(--height);
  min-height: var(--minH);
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-content: flex-start;
  margin-bottom: 3rem;
}
#pItems>li {
  width: var(--pItemsLiW);
  min-width: var(--minPItemLi);
  height: var(--pItemsLiH);
  min-height: var(--minPItemLi);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1.5vw;
  box-sizing: border-box;
}
#pItems>li:not(:nth-of-type(3n)) {
  margin-right: calc((var(--width) - var(--pItemsLiW)*3) / 2);
}
.pic {
  margin-top: 0.5vw;
  width: var(--pItemsImgW);
  min-width: var(--minPItemImgW);
  height: var(--pItemsImgH);
  min-height: var(--minPItemsImgH);
  background: white center/contain no-repeat;
}
.picHover {
  animation: bigger 0.5s forwards;
}
.resume {
  width: var(--pItemsImgW);
  min-width: var(--minPItemImgW);
  overflow: hidden;
  /* height: var(--pItemsLiH); */
  /* color: white; */
  /* background-color: var(--rFontColorA); */
}
.resume>h3 {
  display: flex;
  align-items: center;
  height: 2vw;
  min-height: 20px;
  font: normal 1.1rem/2vw "Microsoft YaHei";
}
.resume>div {
  height: 2vw;
  min-height: 20px;
  font-size: 0.8rem;
  overflow: hidden;
  /* background-color: orange; */
}
.resume>span {
  display: inline-block;
  height: 1vw;
  min-height: 10px;
  color: gray;
  /* background-color: olive; */
}
.spanHover {
  animation: changeColor 0.5s forwards;
}
#pNavBtn>ul{
  display: flex;
  justify-content: center;
}
#pNavBtn li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 2rem;
  min-width: 20px;
  height: 2rem;
  min-height: 20px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 3px;
  font: 1.2rem/2rem "Microsoft YaHei";
  text-align: center;
  cursor: pointer;
  color: gray;
}
.btnActive {
  color: white !important;
  background-color: var(--mainColor);
}
#pNavBtn li:hover {
  color: var(--mainColor);
  /* font-weight: bold; */
}
#pItems>li:hover {
  animation: highligh 0.5s forwards;
}

@keyframes highligh {
  0% {box-shadow: none; }
  100% {box-shadow: 1px 1px 1px 2px gainsboro; }
}
@keyframes bigger {
  from {
    background-size: 100%;
  }
  to {
    background-size: 120%;
  }
}
@keyframes changeColor {
  from {
    color: black;
  }
  to {
    color: var(--mainColor);
    font-weight: bold;    
  }
}